div class="page-header"
  h1 О сайте
p Приложение предназначено для сбора экспертных оценок по вопросам различной тематики. Позволяет зарегистрированным пользователям, выступающим в роли экспертов, выполнить задание из имеющегося перечня: дать свои оценки по заданной шкале предлагаемым изображениям из выбранной области. Полученные результаты обрабатываются и доступны для рассмотрения.
