= link_to 'Выбрать тему', choose_theme_path, :title => 'Select theme from your device folder',
locale: @current_locale, :format => 'js', remote: true, style: 'color:white; width: 80%',
class: 'btn btn-primary center-block'