// Place all the styles related to the Work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left_controls, .image_display {
  min-height: 460px;
  padding: 25px;
}

.img-left-side, .img-right-side, .image_diag {
  display: none;
}


